@tailwind base;
@tailwind components;
@tailwind utilities;

/*========== GLOBALS ==========*/
:root {
    /*-------- COLORS --------*/
    --black: #000000;
    --dark-grey: #303030;
    --white: #ffffff;

    --background: var(--white);
    --primary: var(--black);
    --tertiary: var(--dark-grey);

    /*-------- SIZES --------*/
    --header-height: 60px;
}

[data-theme="dark"]
{
    --background: var(--black);
    --primary: var(--white);
}

@layer components {
    /*========== GENERAL ==========*/
    *,
    *::before,
    *::after
    {
        box-sizing: border-box;
    }

    html
    {
        width: theme("width.full");
        height: theme("height.full");
        overflow: hidden;
        position: fixed;
        top: 0;
        padding: theme("padding.0");
        margin: theme("margin.0");
    }

    body
    {
        background-color: theme("colors.background");
        color: theme("colors.primary");
        font-family: "IBM Plex Mono";
        font-size: theme("fontSize.base");
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        width: theme("width.full");
        height: theme("height.full");
        overflow: hidden;
        position: fixed;
        top: 0;
        padding: theme("padding.0");
        margin: theme("margin.0");
    }

    #root
    {
        width: theme("width.full");
        height: theme("height.full");
        overflow: hidden;
        padding: theme("padding.0");
        margin: theme("margin.0");
    }

    form
    {
        margin: 0;
    }

    button
    {
        width: theme("width.fit");
        padding: theme("padding.3");
        margin: theme("margin.3") 0 0 0;
    }
}