@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /*========== COLORS ==========*/
    --black: #000000;
    --white: #ffffff;

    --background: var(--white);
    --primary: var(--black);

    /*========== SIZES ==========*/
    --header-height: 60px;
}

[data-theme="dark"]
{
    --background: var(--black);
    --primary: var(--white);
}

@layer components {
    /*========== GENERAL ==========*/
    html {
        width: theme("width.full");
        height: theme("height.full");
        overflow: hidden;
        position: fixed;
        top: 0;
        padding: theme("padding.0");
        margin: theme("margin.0");
    }

    body {
        background-color: theme("colors.background");
        color: theme("colors.primary");
        font-family: "IBM Plex Mono";
        font-size: theme("fontSize.base");
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        width: theme("width.full");
        height: theme("height.full");
        overflow: hidden;
        position: fixed;
        top: 0;
        padding: theme("padding.0");
        margin: theme("margin.0");
    }
}